body {
  background-color: #eef1f3;
}
.home {
  text-align: center;
}
.main-form {
  margin: 2rem 25rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fafafa;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.list-div {
  margin: 2rem 5rem;
}
.list-div {
  margin: 2rem 10rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fafafa;
}
.book-div {
  display: inline-block;
  margin-right: 1rem;
}
.card {
  width: 16rem;
}
.card-header {
  text-align: center;
}
